terraform.tfstate
terraform.tfstate.backup
*.tfvars
.terraform.lock.hcl
/.terraform.d/
.terraform
*.log
*.bak
/.idea/fmc-terraform.iml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/.gitignore
release/
release.*
!release.yml
dist/
.idea/

