---
name: Application Business Relevances
rest_endpoint: /api/fmc_config/v1/domain/{DOMAIN_UUID}/object/applicationproductivities
ds_description: This data source reads the Application Business Relevance levels.
no_resource: true
no_import: true
is_bulk: true
doc_category: Objects
attributes:
  - model_name: items
    type: Map
    description: >-
      Map of Application Business Relevance levels. The key of the map is the name of the individual Application Business Relevance level.
    map_key_example: Very Low
    mandatory: true
    attributes:
      - model_name: id
        type: String
        resource_id: true
        description: Id of the Application Business Relevance level.
        exclude_example: true
        exclude_test: true
      - model_name: type
        type: String
        description: Type of the object; this value is always 'ApplicationProductivity'.
        computed: true
