---
name: Application Tags
rest_endpoint: /api/fmc_config/v1/domain/{DOMAIN_UUID}/object/applicationtags
no_resource: true
no_import: true
is_bulk: true
doc_category: Objects
attributes:
  - model_name: items
    type: Map
    description: >-
      Map of Application Tags. The key of the map is the name of the individual Application Tag.
    map_key_example: allows remote connect
    mandatory: true
    attributes:
      - model_name: id
        type: String
        resource_id: true
        description: Id of the Application Tag.
        exclude_example: true
        exclude_test: true
      - model_name: type
        type: String
        description: Type of the object; this value is always 'ApplicationTag'.
        computed: true
