---
name: Application Risks
rest_endpoint: /api/fmc_config/v1/domain/{DOMAIN_UUID}/object/applicationrisks
ds_description: This data source reads the Application Risk levels.
no_resource: true
no_import: true
is_bulk: true
doc_category: Objects
attributes:
  - model_name: items
    type: Map
    description: >-
      Map of Application Risks levels. The key of the map is the name of the individual Application Risk level.
    map_key_example: Very High
    mandatory: true
    attributes:
      - model_name: id
        type: String
        resource_id: true
        description: Id of the Application Risk level.
        exclude_example: true
        exclude_test: true
      - model_name: type
        type: String
        description: Type of the object; this value is always 'ApplicationRisk'.
        computed: true
