
---
layout: ""
page_title: "Provider: FMC"
description: |-
  The FMC provider provides resources to interact with a Cisco Secure FMC (Firewall Management Center) instance.

---

# FMC Provider

The FMC provider provides resources to interact with a Cisco Secure FMC (Firewall Management Center) instance. It communicates with FMC via the REST API.

Resources and data sources have been tested with the following releases.

| Platform | Version |
| -------- | ------- |
| FMC      | 7.2     |
| FMC      | 7.4     |
| FMC      | 7.6     |

Please note that resources and data sources support depends on FMC version.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}
