
---
layout: ""
page_title: "Provider: FMC"
description: |-
  The FMC provider provides resources to interact with a Cisco Secure Firewall Management Center (FMC) and Cloud-Delivered FMC (cdFMC) instances.

---

# FMC Provider

The FMC provider provides resources to interact with a Cisco Secure Firewall Management Center (FMC) and Cloud-Delivered FMC (cdFMC) instances. It communicates with target via the REST API.

Resources and data sources have been tested with the following releases.

| Platform | Version  |
| -------- | -------- |
| FMC      | 7.2.10   |
| FMC      | 7.4.2.3  |
| FMC      | 7.6.2    |
| FMC      | 7.7.10.1 |
| cdFMC    |          |

Please note that resources and data sources support depends on FMC version.

## Authentication

The authentication method varies depending on the target type:
- Self-Hosted FMC: Requires the username and password fields to be configured.
- Cloud-Delivered FMC (cdFMC) / Security Cloud Control (SCC) Firewall Manager: Requires the token to be configured.

The provider automatically determines the target device type based on the attributes provided.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}
